.select2-container {
  width: 60px;
}
.focus {
  background-color: #ff00ff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
.pageNumber {
  padding: 2px;
}
input[type=text] {
    width: 10%;
    padding: 5px 10px;
    margin: 1px 2px;
    box-sizing: border-box; 
    border: 1px solid #8842d5;
    border-radius: 1px; 
}
input[type=submit]
{
	border-top:		1px solid #a3ceda;
	border-left:		1px solid #a3ceda;
	border-right:		1px solid #4f6267;
	border-bottom:		1px solid #4f6267;
	padding:		2px 5px !important;
	font-size:		8px !important;
	background-color:	#c4f1fe;
	font-weight:		bold;
	color:			#2d525d;
    border-radius: 2px; 
}
